# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/*.log

# OS
.DS_Store
Thumbs.db

# Misc
*.png
!screenshot.png
